:host{
    flex-grow: 1;
    flex-shrink: 1;
}

mat-card-content{
    padding: 5px;
}

mat-card:hover{
    cursor: pointer;
    transform: scale(10px);
}
mat-card{
    padding: 0;
    margin: 0px 5px;
    border-radius: 25px;
    box-sizing: border-box;
    box-shadow: 10px 8px 8px rgba(0, 0, 0, 0.25)!important;
    border: 1px solid #EBEBEB!important;
;
}

mat-card>img{
    border-radius:  25px 25px 0px 0px;
    width: 185px!important;
    height: 150px!important;

}

mat-card-content{
    text-align: center;
}

